%h1 買い物メニュー　一覧

%table
  %tr
    %th
      カレー
    %th
      カレールー
      %td
        1箱
  %tr
    %th
    %th
      玉ねぎ
      %td
        3個
  %tr
    %th
    %th
      人参
      %td
        1本




<button type="button" class="btn btn-default">Default</button>
<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-link">Link</button>

