%h1 料理メニュー　一覧

= form_with "#", method: :post, local: true do |f|
  = f.text_field :name, placeholder: "料理名"


.table-responsive
  %table.table
    %thead.thead-dark
      %tr
        %th
          料理名
        %th
          食材名
        %th
          数量
        %th
          単位
    %thead.thead-light
      %tr
        %th
          キーマカレー
        %th
          カレー粉
        %th
          1
        %th
          箱
    %thead.thead-light
      %tr
        %th
          キーマカレー
        %th
          玉ねぎ
        %th
          4
        %th
          個
    %thead.thead-light
      %tr
        %th
          キーマカレー
        %th
          人参
        %th
          2
        %th
          本
    %thead.thead-light
      %tr
        %th
          キーマカレー
        %th
          合い挽き肉
        %th
          300
        %th
          g
    %thead.thead-light
      %tr
        %th
          肉うどん
        %th
          うどん
        %th
          3
        %th
          玉
    %thead.thead-light
      %tr
        %th
          肉うどん
        %th
          牛薄切り肉
        %th
          200
        %th
          g
    %thead.thead-light
      %tr
        %th
          肉うどん
        %th
          青ネギ
        %th
          1
        %th
          束




<button type="button" class="btn btn-default">Default</button>
<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-link">Link</button>

