// application_html
.header {
  display: flex;
  margin-bottom: 30px;
  & a {
    margin-left: 10px;
  }
  .userName {
    margin-inline-start: auto;
  }
}

body {
  form {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
  }
}


// footer_html
.footer {
  .links {
    margin-top: 50px;
    & a {
      margin-right: 5px;
    }
    .fa-twitter {
      color: #00acee;
    }
    .fa-instagram {
      color: #262626;
    }
    .fa-youtube {
      color: #c4302b;
    }
    .fa-line {
      color: #1dcd00;
    }
  }
}