.container.new
  %h3 メニュー追加ページ

  %form
    %input{type: 'text', placeholder: '料理名'}
    .br
    %input{type: 'text', placeholder: '食材名'}
    %input{type: 'text', placeholder: '数量'}
    %input{type: 'text', placeholder: '単位'}
    .br
    %input{type: 'text', placeholder: '食材名'}
    %input{type: 'text', placeholder: '数量'}
    %input{type: 'text', placeholder: '単位'}
    .br
    %input{type: 'text', placeholder: '食材名'}
    %input{type: 'text', placeholder: '数量'}
    %input{type: 'text', placeholder: '単位'}
    .br
    %input{type: 'text', placeholder: '食材名'}
    %input{type: 'text', placeholder: '数量'}
    %input{type: 'text', placeholder: '単位'}
    .br
    %input{type: 'text', placeholder: '食材名'}
    %input{type: 'text', placeholder: '数量'}
    %input{type: 'text', placeholder: '単位'}
    .br
    %button{type: "submit", class:'btn btn-success'}
      追加